aniso8601==8.1.0
apispec==4.4.1
argon2-cffi==20.1.0
attrs==20.3.0
cffi==1.14.5
click==7.1.2
cryptography==3.4.7
Flask==1.1.2
Flask-JWT-Extended==4.2.1
flask-apispec==0.11.0
Flask-RESTful==0.3.8
importlib-metadata==3.3.0
iniconfig==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
marshmallow==3.10.0
packaging==20.8
pluggy==0.13.1
py==1.10.0
pycparser==2.20
pyparsing==2.4.7
pytest==6.2.1
pytz==2020.5
six==1.15.0
toml==0.10.2
typing-extensions==3.7.4.3
webargs==8.0.0
Werkzeug==1.0.1
zipp==3.4.0
