aniso8601==9.0.1
apispec==4.7.0
attrs==21.2.0
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
docker==3.4.1
docker-pycreds==0.4.0
Flask==2.0.1
flask-apispec==0.11.0
Flask-RESTful==0.3.9
idna==2.10
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
marshmallow==3.12.1
packaging==20.9
pluggy==0.13.1
psutil==5.8.0
py==1.10.0
pyparsing==2.4.7
pytest==6.2.2
pytz==2021.1
requests==2.25.1
six==1.16.0
toml==0.10.2
urllib3==1.26.5
webargs==8.0.0
websocket-client==1.1.0
Werkzeug==2.0.1
