# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Python 3
        uses: actions/setup-python@v1
        with:
          python-version: 3.6
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install flake8
          pip install pylint
      - name: Run tests with pytest
        run: |
          pytest -v
      - name: Lint with flake8
        run: |
          flake8 flasksrc --count --select=E9,F63,F7,F82 --show-source --statistics
          flake8 flasksrc --count --max-complexity=15 --max-line-length=100 --statistics

